:root {
  --cor-fundo: #ffffff;
  --cor-texto: #333;
  --cor-link: rgb(1, 1, 153);
  --cor-hover: #64c6ffaa;
  --cor-nav-bg: rgb(82, 77, 77);
  --cor-nav-text: white;
}

body {
  background-color: var(--cor-fundo);
  font-family: Arial, sans-serif; /* Defina uma fonte padrão */
  margin: 0; /* Remove a margem padrão */
}

#root {
  max-width: 1280px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--cor-hover));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #2daccfaa);
}

nav {
  background-color: var(--cor-nav-bg);
  color: var(--cor-nav-text);
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 5px 15px;
}

nav a {
  color: var(--cor-link);
  text-decoration: none;
}

nav a:hover {
  color: var(--cor-hover);
}

.blog-content {
  margin-top: 20px;
}

.blog-content ul {
  list-style-type: disc; /* Adiciona marcadores às listas */
  padding-left: 20px; /* Espaço à esquerda para listas */
}

